.video-container {
  position: relative;
  display: inline-block; /* Asegura que el contenedor del video ajuste su tamaño al del video */
}

.absolute {
  position: absolute;
}

.top-2 {
  top: 0.5rem;
}

.right-2 {
  right: 0.5rem;
}

.text-white {
  color: #ffffff;
}

.p-2 {
  padding: 0.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.text-xl {
  font-size: 2.25rem;
}

.close-button {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejor visibilidad */
}
