<app-toolbar></app-toolbar>

<div class="fondo">
  <div class="clock">
    <div class="flex flex-col items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div>
        <p class="mb-2 text-2xl text-gray-600 dark:text-gray-400">
          Registrados
        </p>
        <p class="text-3xl font-semibold text-gray-700 dark:text-gray-200 text-center">
          {{ totalRegisters }}
        </p>
      </div>
    </div>

    <div class="flex flex-col items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div>
        <p class="mb-2 text-2xl text-gray-600 dark:text-gray-400">
            Patrocinados
        </p>
        <p class="text-3xl font-semibold text-gray-700 dark:text-gray-200 text-center">
          {{ totalPatrociners }}
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Videos -->
 <app-galery-videos></app-galery-videos>


