.fondo {
  background: url('/assets/images/logo-fenix.jpeg') no-repeat center center;
  background-size: contain;
  height: 80vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clock {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.clock div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.digital-clock {
  font-family: 'Digital-7', sans-serif;
  letter-spacing: 0.1em; /* Ajusta el espacio entre letras para una apariencia más digital */
  color: #ffdb50;// cyan; /* Ajusta el color según sea necesario */
  background-color: black; /* Fondo negro para un contraste digital */
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #8f8e69, 0 0 20px #fcffbd, 0 0 30px #dcdc9e, 0 0 40px #797d67;
}


//////////////////////////////////////////////////////PRIMERA ANIMACION////////////////////////////////////////////////
@keyframes changeNumber {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}

.digital-clock {
  display: inline-block;
  animation: changeNumber 4s ease-in-out infinite;
}
//////////////////////////////////////////////////////PRIMERA ANIMACION//////////////////////////////////////////////////////////////////////////////////


///////////////////////////////////////////////////////SEGUNDA ANIMACION//////////////////////////////////////////////////////////////////////////
// @keyframes slowFlip {
//   0% {
//     transform: rotateX(0deg);
//   }
//   100% {
//     transform: rotateX(100deg);
//   }
// }
// .digital-clock {
//   display: inline-block;
//   animation: slowFlip 5s linear infinite; /* Duración de 5 segundos para una animación más lenta */
// }
///////////////////////////////////////////////////////SEGUNDA ANIMACION///////////////////////////////////////////////////////////////////////
